extends ../node_modules/jade-bootstrap/layouts/starter
script(src="/Scripts/jquery.timeago.js")

button(onclick='something()') Click
block body
	+navbar-fixed("Pokemon DB","navbar","inverse")
		+nav_item("#") Home
		+nav_item("#", "active") Saved Pokemon
	.container
		h1 My Pokemon
		Pick out your pokemon from the list:
		h3 Super Common
		
		for pokemon in everywherePokemon
			img(src= pokemon.url width=30 height=30)
			b= pokemon.owned
			if pokemon.owned == true
				h1 have this guy
			else
				a(href= "/save/#{pokemon.pokemon_id}") go.
			br
		h3 Common
		ul
		for pokemon in commonPokemon
			li= pokemon.name
		h3 Ocassional
		ul
		for pokemon in occasionalPokemon
			li= pokemon.name
		h3 Rare
		ul
		for pokemon in rarePokemon
			li= pokemon.name		