extends ../node_modules/jade-bootstrap/layouts/starter
script(src="/Scripts/jquery.timeago.js")

button(onclick='something()') Click
block body
	+navbar-fixed("Pokemon DB","navbar","inverse")
		+nav_item("#") Home
		+nav_item("#", "active") Saved Pokemon
	.container
		.row
			.col-md-6.col-sm-6.col-xs-12
				.panel.panel-warning
				.panel-heading My Pokemon
				.panel-body
					for pokemon in myPokemon
						img(src= pokemon.url width=30 height=30)
						a(href= "/removeMine/#{pokemon.pokemon_id}") remove 
						b= pokemon.name
						br
			.col-md-6.col-sm-6.col-xs-12
				.panel.panel-warning
				.panel-heading Opposing Pokemon
				.panel-body
					for pokemon in opposingPokemon
						img(src= pokemon.url width=30 height=30)
						a(href= "/removeOpposing/#{pokemon.pokemon_id}") remove 
						b= pokemon.name
						br
			.col-md-6.col-sm-6.col-xs-12
				.panel.panel-primary
				.panel-heading All Pokemon
				.panel-body
					h3 Super Common
					for pokemon in everywherePokemon
						img(src= pokemon.url width=30 height=30)
						if pokemon.owned == 'true'
							a(href= "/removeMine/#{pokemon.pokemon_id}") remove 
						else
							a(href= "/saveMine/#{pokemon.pokemon_id}") add 
						b= pokemon.name
						a(href= "/saveOpposing/#{pokemon.pokemon_id}") Save Opposing!! 
						br
					h3 Common
					ul
					for pokemon in commonPokemon
						img(src= pokemon.url width=30 height=30)
						if pokemon.owned == 'true'
							a(href= "/removeMine/#{pokemon.pokemon_id}") remove 
						else
							a(href= "/saveMine/#{pokemon.pokemon_id}") add 
						b= pokemon.name
						br
					h3 Ocassional
					ul
					for pokemon in occasionalPokemon
						img(src= pokemon.url width=30 height=30)
						if pokemon.owned == 'true'
							a(href= "/removeMine/#{pokemon.pokemon_id}") remove 
						else
							a(href= "/saveMine/#{pokemon.pokemon_id}") add 
						b= pokemon.name
						br
					h3 Rare
					ul
					for pokemon in rarePokemon
						img(src= pokemon.url width=30 height=30)
						if pokemon.owned == 'true'
							a(href= "/removeMine/#{pokemon.pokemon_id}") remove 
						else
							a(href= "/saveMine/#{pokemon.pokemon_id}") add 
						b= pokemon.name
						br
		.row
				